<div class="card" style="width: 100%; margin-bottom: 15px;" (click)="onclick()">
    <img [src]="book.lienImage==''?'http://localhost:5000/files/no-image.png':book.lienImage"
    style="height: 184px; /*width: 286px;*/" class="card-img-top" [alt]="book.titre">
    <div class="card-body">
      <h5 class="card-title">{{book.titre}} </h5>
      <div style="display: flex; justify-content: center;"><a [href]="book.lienFichier" [download]="book.lienFichier" class="btn btn-primary">telecharger</a></div>
      <!-- <button class="btn btn-danger" (click)="download(book.lienFichier)+'/file'">delete</button> -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{book.auteur}} </li>
        <li class="list-group-item">{{book.editeur}}</li>
      </ul>
    </div>
  </div>